<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .-hidden {
      display: none;
    }

    .-current {
      background-color: yellow;
    }

    .message {
      display: block;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div class="start-page">
    <h1>Entrar na votação ou criar uma</h1>
    <p>
      <button class="start-page_entrar">Entrar</button>
      <button class="start-page_criar">Criar</button>
    </p>
  </div>

  <div class="entrar-page -hidden">
    <h1>Entrar na votação</h1>
    <p>
      Nome:<br>
      <input type="text" class="entrar-page_nome">
    </p>

    <p>
      Código da sala de votação:<br>
      <input type="text" class="entrar-page_sala">
    </p>

    <p>
      <button class="entrar-page_entrar">Entrar</button>
    </p>
  </div>

  <div class="criar-page -hidden">
    <h1>Criar votação</h1>
    <p>
      Nome:<br>
      <input type="text" class="criar-page_nome">
    </p>

    <p>
      Sala:<br>
      <input id="hash" type="text" class="criar-page_sala" disabled value="hash">
      <span class="message">Passe este código aos outros participantes.</span>
    </p>

    <p>
      <button class="criar-page_criar">Criar</button>
    </p>
  </div>

  <div class="votacao-page -hidden">
    <h1>Votação</h1>
    <button class="votar" data-vote="1">1</button>
    <button class="votar" data-vote="2">2</button>
    <button class="votar" data-vote="3">3</button>
    <button class="votar" data-vote="5">5</button>
    <button class="votar" data-vote="8">8</button>
  </div>

  <script src="libs/socket.io/client-dist/socket.io.min.js"></script>
  <script src="libs/cash-dom/dist/cash.min.js"></script>
  <script src="js/index.js"></script>
  <script>
    const hash = () => {
      const inputHash = document.querySelector('#hash').setAttribute('value', `${Math.random().toString(36).substring(2, 15)}`)
    }

    hash()
  </script>
</body>
</html>
